<a href="https://colab.research.google.com/github/dhruvakk/python-as-i-know/blob/master/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
#import data visuvalize
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline


#import train test
from sklearn.model_selection import train_test_split

#import metrics
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn import metrics
from scipy import stats

In [11]:
data=pd.read_csv("mtcars.csv")
data.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [0]:
data= data.iloc[:,1:]

In [13]:
data

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [0]:
from sklearn.preprocessing import scale, normalize

In [0]:
data1 = scale(data)

In [0]:
data2= normalize(data1)

In [0]:
from sklearn.decomposition import PCA

In [0]:
model= PCA()

In [31]:
model.fit(data2)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [32]:
model.components_

array([[ 0.31584346, -0.40004126, -0.36707696, -0.29784789,  0.33418606,
        -0.30826143,  0.18092147,  0.32939822,  0.27650879,  0.28064011,
        -0.11659269],
       [-0.01506266,  0.07921935, -0.01950098,  0.20080312,  0.26277057,
        -0.09889732, -0.48392351, -0.36628154,  0.44635446,  0.36933928,
         0.41228418],
       [-0.26392434, -0.04294052, -0.06970402,  0.12499166,  0.25928618,
         0.31913357,  0.19291248,  0.42332767, -0.34319058,  0.27443764,
         0.5739561 ],
       [-0.12038494,  0.06980911, -0.48933978, -0.55698272, -0.1270902 ,
        -0.01729807,  0.16577982, -0.45699326, -0.11597698, -0.16624859,
         0.37024966],
       [-0.06864918, -0.2456357 ,  0.16871625, -0.01181897, -0.3517916 ,
         0.46982269,  0.44554196, -0.10857339,  0.56323205,  0.17752884,
         0.05303004],
       [-0.00582412,  0.07400406, -0.23252209,  0.07455755, -0.76502628,
        -0.28688024, -0.20247517,  0.30379327, -0.03669048,  0.34342872,
         0.1213368 ],
       [-0.60294049, -0.0758886 , -0.24501983,  0.09619168,  0.04014453,
        -0.10797618, -0.13895781,  0.31997408,  0.41399104, -0.50497616,
         0.00796858],
       [-0.58174652, -0.11463236,  0.14439643, -0.41678043,  0.05855248,
         0.0771744 , -0.23248689, -0.07140409, -0.13509917,  0.45213885,
        -0.4033111 ],
       [-0.27524613, -0.26305475, -0.24415158,  0.55901146,  0.02445639,
        -0.31915732,  0.38056676, -0.38501635, -0.19080789,  0.15561606,
        -0.16366364],
       [-0.10881254,  0.8162196 , -0.0858319 , -0.0122247 ,  0.143665  ,
        -0.11841481,  0.3862721 ,  0.09563891,  0.21800513,  0.2137005 ,
        -0.16798828],
       [ 0.14681262,  0.08275684, -0.62463453,  0.20931208,  0.02428575,
         0.59709038, -0.24796538, -0.01845569, -0.0304855 ,  0.05568227,
        -0.3386052 ]])

In [0]:
component= pd.DataFrame(model.components_)

In [35]:
component

          0         1         2   ...        8         9         10
0   0.315843 -0.400041 -0.367077  ...  0.276509  0.280640 -0.116593
1  -0.015063  0.079219 -0.019501  ...  0.446354  0.369339  0.412284
2  -0.263924 -0.042941 -0.069704  ... -0.343191  0.274438  0.573956
3  -0.120385  0.069809 -0.489340  ... -0.115977 -0.166249  0.370250
4  -0.068649 -0.245636  0.168716  ...  0.563232  0.177529  0.053030
5  -0.005824  0.074004 -0.232522  ... -0.036690  0.343429  0.121337
6  -0.602940 -0.075889 -0.245020  ...  0.413991 -0.504976  0.007969
7  -0.581747 -0.114632  0.144396  ... -0.135099  0.452139 -0.403311
8  -0.275246 -0.263055 -0.244152  ... -0.190808  0.155616 -0.163664
9  -0.108813  0.816220 -0.085832  ...  0.218005  0.213700 -0.167988
10  0.146813  0.082757 -0.624635  ... -0.030485  0.055682 -0.338605

[11 rows x 11 columns]

In [0]:
value= model.explained_variance_ratio_

In [37]:
value

array([0.56965156, 0.23527646, 0.08785272, 0.02681322, 0.02122239,
       0.0197491 , 0.01439233, 0.00940459, 0.00794743, 0.0051481 ,
       0.00254211])

In [39]:
value.sum()

1.0